In [1]:
import nltk

nltk.download('punkt')

C:\Users\mansv\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\mansv\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [2]:
import pandas as pd

In [3]:
fake = pd.read_csv("Fake.csv")
genuine = pd.read_csv("True.csv")

In [4]:
display(fake.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

None

In [5]:
display(genuine.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

None

In [6]:
display(genuine.head())

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [26]:
fake['target']=0
genuine['target']=1

In [27]:
df = pd.concat([fake,genuine], axis=0)
df = df.reset_index(drop=True)
df = df.drop(['subject','date','title'], axis=1)
print(data.columns)

Index(['date'], dtype='object')

### TOKENIZATION

In [28]:
from nltk.tokenize import word_tokenize

In [30]:
df['text']=df['text'].apply(word_tokenize)

In [32]:
print(df.head(10))

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

### STEMMING

In [33]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer("english")

In [34]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [35]:
df['text']=df['text'].apply(stem_it)

In [36]:
print(df.head(10))

                                                text  target
0  [donald, trump, just, couldn, t, wish, all, am...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [on, friday, ,, it, was, reveal, that, former,...       0
3  [on, christma, day, ,, donald, trump, announc,...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, of, case, of, cop, brutal, and, ...       0
6  [donald, trump, spent, a, good, portion, of, h...       0
7  [in, the, wake, of, yet, anoth, court, decis, ...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, we, d,...       0

### STOPWORD REMOVAL

In [37]:
from nltk.corpus import stopwords

In [38]:
def stop_it(t):
    dt = [word for word in t if len(word)>2]
    return dt

In [39]:
df['text']=df['text'].apply(stop_it)

In [40]:
print(df.head(10))

                                                text  target
0  [donald, trump, just, couldn, wish, all, ameri...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [friday, was, reveal, that, former, milwauke, ...       0
3  [christma, day, donald, trump, announc, that, ...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, case, cop, brutal, and, kill, pe...       0
6  [donald, trump, spent, good, portion, his, day...       0
7  [the, wake, yet, anoth, court, decis, that, de...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, get, b...       0

In [41]:
df['text']=df['text'].apply('  '.join)

### SPLITTING OF DATA

In [62]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df['text'],df['target'], test_size=0.3)
display(x_train.head())
print('\n')
display(y_train.head())

11291    trump  off  and  run  now  and  here  confirm ...
36657    reuter  bangladesh  plan  alloc  more  land  f...
2058     just  last  year  befor  the  2016  presidenti...
4412     becom  week  ritual  trump  goe  through  each...
30702    sydney  reuter  australian  prime  minist  mal...
Name: text, dtype: object

11291    0
36657    1
2058     0
4412     0
30702    1
Name: target, dtype: int64

### VECTORIZATION

In [70]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Create a single instance of TfidfVectorizer and fit it to the training data
my_tfidf = TfidfVectorizer(max_df=0.7)
tfidf_train = my_tfidf.fit_transform(x_train)

# Transform the testing data using the same vectorizer instance
tfidf_test = my_tfidf.transform(x_test)

# Logistic Regression
model_1 = LogisticRegression(max_iter=900)
model_1.fit(tfidf_train, y_train)
pred_1 = model_1.predict(tfidf_test)
cr1 = accuracy_score(y_test, pred_1)
print(cr1 * 100)

98.73051224944321

### PassiveAggressiveClassifier

In [68]:
from sklearn.linear_model import PassiveAggressiveClassifier

model = PassiveAggressiveClassifier(max_iter = 50)
model.fit(tfidf_train, y_train)

PassiveAggressiveClassifier(max_iter=50)

In [69]:
y_pred = model.predict(tfidf_test)
accscore = accuracy_score(y_test, y_pred)
print('The accuracy of prediction is ', accscore*100)

The accuracy of prediction is  99.60653303637713